/* ----RESET---- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ----GENERAL---- */

body {
	font-family: Georgia , arial , sans-serif;
	color: #999999;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* ----HEADER---- */

.wrapper {
	width: 100%;
	border-top: 5px solid #3bafbe;
}

.content {
	max-width: 962px;
	margin:0 auto;
}

header {
	height: 143px;
	padding-top: 25px;
	border-bottom: 1px solid #e2e2e2;
}

.header-social-logo {
	display: table-cell;
	width: 323px;
}

.social ul li {
	display: inline-block;
}

.logo {
	width: 158px;
	height: 42px;
	position: relative;
	top: 20px;
}

.freshness_logo {
	width: 100%;
	height: 100%;
}

.header-search-nav {
	display: table-cell;
	width: 643px;
	text-align: right;
}

.search {
    position: relative;
    bottom: 12px;
}

.search input {
	height: 32px;
	border-radius: 7px;
	border:none;
	outline: none;
}

.search input#search {
	width: 288px;
	background-color: #333333;
}

.search input#submit {
	width: 68px;
	background-color: #3bafbe;
	color: #ffffff;
}

nav {
	position: relative;
    right: 0;
    top: 35px;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	text-decoration: none;
	color:#999999;
}

nav ul li a:hover {
	color: #3bafbe;
}

/* ----END OF HEADER---- */

/* ----SLIDER---- */

.slider {
	height: 418px;
	padding-top: 50px;
	border-bottom: 1px solid #e2e2e2;
}

.monitor-img {
	width: 398px;
	               /* without height property the same */
	
}

.monitor-img img {
	width: 100%;
	height:100%;
}

.slider-content {
	position: relative;
    top: -263px;
    left: 450px;
    max-width: 520px;
                         /* without height property the same */
	                    /* after display minimize float effect reaction ?????????  */
}

h1 {
	font-size: 42px;
	color: #4a4a4a;
	font-weight: 100;
}

.slider-content p {
	padding: 30px 0;
}

.slider-content .read-more {
	width: 125px;
	height: 32px;
	background-color: #3bafbe;
	text-align: center;
	line-height: 2;
	border-radius:7px;
	cursor: pointer;
}

.slider-content .read-more a {
	text-decoration: none;
	color: #ffffff;
}

/* ----END OF SLIDER---- */

/* ----SECTION---- */

section {
	height: 470px;
	padding: 50px 0;
	border-bottom: 1px solid #e2e2e2;
}

.section-content {
	float: left;
	width: 300px;
	margin-right: 30px;
}

.section-content:last-child {
	margin-right: 0;
}

.section-content h3 {
	padding-top: 25px;
}

.section-content-img img {
	width: 100%;
	height: 100%;
}

.section-content p {
	padding: 25px 0;
	font-size: 13px;
	line-height: 19px;
}

.section-content .read-more {
	width: 106px;
	height: 32px;
	background-color: #3bafbe;
	text-align: center;
	line-height: 2;
	border-radius:7px;
	cursor: pointer;
}

.section-content .read-more a {
	color: #ffffff;
}

/* ----END OF SECTION---- */

/* ----ARTICLE----  */

article {
	clear: both;
	height: 420px;
	padding: 50px 0;
}

.article-header {
	padding:0 125px;
}

.article-header p {
	text-align: center;
	font-size: 22px;
}

.article-content {
	margin-top: 20px;
}

.article-content-img {
	width: 300px;
	height: 90px;
	margin-top: 30px;
	margin-right: 20px;
	float: left;
}

.article-content-img div {
	float: left;
	border: 1px solid #d8d8d8;
	margin-right: 15px;
}

.article-content-img p {
	padding-top: 5px;
	line-height: 19px;
}

.article-content-img div img {
	padding: 3px;
}
.article-content-img h2 {
	font-size: 13px;
	color: #3bafbe;
}

.article-content-img p {
	font-size: 12px;
}

/*  ----END OF ARTICLE---- */

/* ----ABOUT---- */

.about {
	background-color: #252525;
	height: 260px;
	padding-top: 40px
}

.about a {
	color: #3bafbe;
}

.contact , .links, .the-blog, .news-letter {
	font-size: 13px;
	line-height: 20px;
	width: 190px;
	float: left;
	margin-right: 50px;
}

.links ul li {
	font-size: 12px;
	padding-top: 10px;
	border-bottom: 1px solid #2c2c2c;
}

.news-letter {
	margin-right: 0;
}

.the-blog {
	
    width: 244px;
    margin-right: 10px;
}


.the-blog .read-more-btn {
	float: right;
	padding-top:10px;
}

.about h3 {
	color: #ffffff;
	font-size: 20px;
	padding-bottom: 30px;
	font-weight: normal;
}

.about input {
	max-width: 225px;
    height: 30px;
    background-color: #2c2c2c;
    border: none;
    outline: none;
    border-radius: 7px;
}

#email {
	margin: 10px 0;
}

#submit {
	width: 80px;
	height: 30px;
	color: #ffffff;
	background-color: #3bafbe;
}

/* ----END OF ABOUT---- */

/* ----FOOTER---- */

footer {
	clear: both;
	height: 60px;
	background-color: #1a1a1a;
	padding: 20px 0;
}

/* ----END OF FOOTER---- */

