/* ----RESET---- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ----GENERAL---- */

body {

}

/* ----HEADER---- */

.wrapper {
	width: 100%;
	border-top: 5px solid #3bafbe;
}

.conten-max-width{
	max-width: 962px;
}

header {
	height: 143px;
	margin:0 auto;
	padding-top: 25px;
	border-bottom: 1px solid #e2e2e2;
}

.header-social-logo {
	display: table-cell;
	width: 323px;
	outline: 1px solid red;
}

.social ul li {
	display: inline-block;
}

.logo {
	width: 158px;
	height: 42px;
}

.freshness_logo {
	width: 100%;
	height: 100%;
}

.header-search-nav {
	display: table-cell;
	width: 643px;
	text-align: right;
	outline: 1px solid green;
}

.header-search-nav .search {
    position: relative;
    bottom: 18px;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	text-decoration: none;
	color:#999999;
}

nav ul li a:hover {
	color: #3bafbe;
}